/**
 *  Copyright 2020-2022 Aston University
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Dark theme for Bootstrap

@import 'variables';

$primary: $cyan;

$body-color: $white;
$body-bg:    $black;
$component-active-color:   $gray-700;

$breadcrumb-bg: $gray-900;
$breadcrumb-active-color:  $gray-400;

$list-group-bg:            $gray-900;
$list-group-hover-bg:      $gray-800;
$list-group-action-color:  $white;
$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-700;

$dropdown-color:                    $white;
$dropdown-bg:                       $gray-800;
$dropdown-border-color:             rgba($black, .15);
$dropdown-link-color:               $gray-200;
$dropdown-link-hover-color:         darken($gray-100, 5%);
$dropdown-link-hover-bg:            $gray-700;

$card-border-color:                 rgba($white, .125) !default;
$card-cap-bg:                       rgba($white, .03) !default;
$card-bg:                           $gray-900 !default;

$pagination-bg:                     $gray-900 !default;
$pagination-border-color:           $gray-300 !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;
$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $gray-500 !default;
$pagination-disabled-border-color:  $gray-400 !default;

$input-bg:           $gray-900;
$input-disabled-bg:  $gray-700;
$input-color:        $gray-500;

$modal-content-bg:                  $black !default;
$modal-content-border-color:        rgba($white, .2) !default;

nav.navbar-dark {
    background-color: $gray-900;
}

/// And now we can import Bootstrap!

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css';

/// Calendar

$calendar-hover-bg: $gray-700;

.datetimepicker table tr td.minute:hover {
    background: $calendar-hover-bg;
}

.datetimepicker table tr td.hour:hover {
    background: $calendar-hover-bg;
}

.datetimepicker table tr td.day:hover {
    background: $calendar-hover-bg;
}

.datetimepicker table tr td span:hover {
    background: $calendar-hover-bg;
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover {
    background: $calendar-hover-bg;
}

/// Accordion

.card-title[data-toggle=collapse]::after {
    color: $body-color;
}

.cohort-progress-chart .test-label {
    fill: white;
}
